{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class=" col-sm-12  shadow p-3 mb-1 mt-3 rounded-0">
    <h1 class="d-flex justify-content-center text-white mb-5" style="background: #5eabeb;">{{ controller_name }}</h1>
    {% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success rounded-0" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}
    <a  class="btn btn-info rounded-0 mb-3" href="{{ path('app_personal_area') }}">Перейти в личный кабинет</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название реферальной сети</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Общая выплата в компанию</th>
                <th>Общая выплата в сеть по программе Direct</th>
                <th>Общая выплата в сеть по программе Cash Back</th>
                <th>Текущий баланс пакетов</th>
                <th>Общая стоимость приобретенных пакетов</th>
                <th>Количество приобретенных пакетов в сети</th>
                <th>Сумма общих отчислений в проект</th>
                <th>Общая сумма начислений в сеть по программе Direct</th>
                <th>Общая сумма начислений в сеть по программе CashBack</th>
                {% endif %}
                <th>Организатор сети</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for list_referral_network in list_referral_networks %}
            <tr>
                <td>{{ list_referral_network.id }}</td>
                <td>{{ list_referral_network.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ list_referral_network.profitNetwork }}</td>
                <td>{{ list_referral_network.paymentsDirect }}</td>
                <td>{{ list_referral_network.paymentsCash }}</td>
                <td>{{ list_referral_network.currentBalance }}</td>
                <td>{{ pakage_price_all_summ }}</td>
                <td>{{ pakage_count }}</td>
                <td>{{ list_referral_network.profitNetwork }}</td>
                <td>{{ list_referral_network.paymentsDirect }}</td>
                <td>{{ list_referral_network.paymentsCash }}</td>
                {% endif %}
                <td>{{ list_referral_network.ownerName }}</td>
                <td>
                    <a  class="btn btn-info rounded-0 mb-1" href="{{ path('app_list_referral_networks_show', {'id': list_referral_network.id}) }}">Посмотреть подробности</a>
                    
                    <a  class="btn btn-info rounded-0 mb-1" href="{{ path('app_referral_network_index') }}">Открыть список участников</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_list_referral_networks_new') }}">Create new</a> #}
</div>
{% endblock %}
