{% extends 'base.html.twig' %}

{% block title %}ListReferralNetworks{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Подробности сети</h1>
{% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success rounded-0" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ list_referral_network.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ list_referral_network.name }}</td>
            </tr>
            <tr>
                <th>Идентификационный номер сети</th>
                <td>{{ list_referral_network.referralNetworksId }}</td>
            </tr>
            <tr>
                <th>ID Владельца</th>
                <td>{{ list_referral_network.ownerId }}</td>
            </tr>
            <tr>
                <th>Имя владельца</th>
                <td>{{ list_referral_network.ownerName }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-info rounded-0 mb-3" href="{{ path('app_list_referral_networks_index') }}">Назад</a>
    {% if is_granted('ROLE_ADMIN') %}   
    <a  class="btn btn-warning rounded-0 mb-3" href="{{ path('app_list_referral_networks_edit', {'id': list_referral_network.id}) }}">Редактировать</a>

    {{ include('list_referral_networks/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}
