{% extends 'base.html.twig' %}

{% block title %}ListReferralNetworks{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Подобности о  реферальной сети</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ list_referral_network.id }}</td>
            </tr> #}
            <tr>
                <th>Название</th>
                <td>{{ list_referral_network.name }}</td>
            </tr>
            <tr>
                <th>Сумма выплат по программе cash back</th>
                <td>{{ list_referral_network.paymentsCash }} USDT</td>
            </tr>
            <tr>
                <th>Сумма выплат по программе Direct</th>
                <td>{{ list_referral_network.paymentsDirect }} USDT</td>
            </tr>
            <tr>
                <th>Имя владельца</th>
                <td>{{ list_referral_network.ownerName }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}  
            <tr>
                <th>Количество участников</th>
                <td>{{ referral_network_all_count }}</td>
            </tr>
            <tr>
                <th>Текущий баланс стоимости пакетов в сети</th>
                <td>{{ list_referral_network.currentBalance }} USDT</td>
            </tr>
            <tr>
                <th>Накопление сети</th>
                <td>{{ list_referral_network.profitNetwork }} USDT</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a  class="btn btn-secondary mb-3" href="{{ path('app_list_referral_networks_index_list') }}">Назад</a>
    {% if is_granted('ROLE_ADMIN') %}   
    <a  class="btn btn-warning mb-3" href="{{ path('app_list_referral_networks_edit', {'id': list_referral_network.id}) }}">Редактировать</a>

    {{ include('list_referral_networks/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}
