{% extends 'base.html.twig' %}

{% block title %}ListReferralNetworks{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Список участников реферальной сети</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ list_referral_network.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ list_referral_network.name }}</td>
            </tr>
            <tr>
                <th>Идентификационный номер сети</th>
                <td>{{ list_referral_network.referralNetworksId }}</td>
            </tr>
            <tr>
                <th>ID Владельца</th>
                <td>{{ list_referral_network.ownerId }}</td>
            </tr>
            <tr>
                <th>Имя владельца</th>
                <td>{{ list_referral_network.ownerName }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-secondary mb-3" href="{{ path('app_list_referral_networks_index_list') }}">Назад</a>
    {% if is_granted('ROLE_ADMIN') %}   
    <a  class="btn btn-warning mb-3" href="{{ path('app_list_referral_networks_edit', {'id': list_referral_network.id}) }}">Редактировать</a>

    {{ include('list_referral_networks/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}
