{% extends 'base.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="pb-3" style="background: rgb(223, 230, 245);">
    <div class="example-wrapper container-xxl  mb-1  rounded-0 pt-4" style="background: rgb(223, 230, 245);">
        {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-success rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endfor %}
        {% for label, messages in app.flashes(['info', 'notice']) %}
                    {% for message in messages %}
                        <div class="alert alert-info rounded-0" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
        {% endfor %}
        {% for label, messages in app.flashes(['danger', 'notice']) %}
                    {% for message in messages %}
                        <div class="alert alert-danger rounded-0" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
        {% endfor %}
        {% for label, messages in app.flashes(['warning', 'notice']) %}
                    {% for message in messages %}
                        <div class="alert alert-danger rounded-0" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}            
        {% endfor %}
            <h1 class="d-flex justify-content-center mb-1 mt-0 pb-3 pt-2" style="color:  rgb(72, 109, 169);"> {{ controller_name }}</h1>
            
            {% if is_granted('ROLE_ADMIN') %}   
            <a class="btn btn-success rounded-0 mb-3 mt-3" href="{{ path('app_table_pakage_new_admin') }}">Добавить новый пакет</a>
            {% endif %}
        <h3>Актуальные пакеты</h3>
        <div class="shadow mb-3 bg-white">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/icone-pakage-7.jpeg') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px; background-color: #5eabeb;">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[0].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[0].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[0].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow mb-3 bg-white">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/pakage-basic.JPG') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px; background-color: #5eabeb;">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[1].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[1].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[1].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="shadow mb-3 bg-white">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/icone-pakage-networker.png') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px;">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[2].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[2].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[2].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow mb-3 bg-white">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/pakage-trader.png') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px; background-color: rgb(223, 230, 245);">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[3].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[3].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[3].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="shadow mb-3 bg-white">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/pakage-business.JPG') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px; background-color: #5eabeb;">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[4].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[4].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[4].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow mb-3 bg-white">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/pakage-vip.JPG') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px; background-color: #5eabeb;">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[5].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[5].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[5].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {# <div class="shadow mb-3" style="background-color: rgb(245, 186, 191)">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/icone-pakage-networker.png') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px; background-color: rgb(245, 186, 191);">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[2].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[2].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[2].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end"  style="background-color: rgb(245, 186, 191)" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {# {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %} #}
                        {# </div>
                    </div>
                </div>
            </div>
        </div>  #}
        {# <div class="shadow" style="background-color: rgb(250, 241, 191);">
            <div class="row ">    
                <div class="col-sm-3 text-center">
                    <div class="mt-3 ml-3 ">
                    <img src="{{ asset('asset/img/icone-pakage-networker.png') }}" class="card-img-top mb-0 mt-3 ml-3" alt="..." style="max-width: 200px; background-color: rgb(250, 241, 191);">
                        
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mt-3">
                    
                        <div class="card-body  mt-0">
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[2].name }}</h5>
                            <h5 class="card-title fw-bold fst-italic text-secondary">{{ table_pakages[2].pricePakage }} USDT</h5>
                            <p class="card-text fw-lighter fst-italic">{{ table_pakages[2].description }}</p>   
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <div class="card-body row">
                            <a  class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end" style="background-color: rgb(250, 241, 191);" href="{{ path('app_pakege_new',{'unique_code_get' : 'not' }) }}">Купить сейчас</a>
                            {# {% if is_granted('ROLE_ADMIN') %}   
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end bg-white" href="{{ path('app_table_pakage_show', {'id': table_pakages[0].id}) }}">Посмотреть</a> 
                            <a class="nav-link fw-bold fst-italic fs-5 mb-1 border-0 pl-0 text-end text-warning bg-white" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakages[0].id}) }}">Редактировать</a>
                            {% endif %} #}
                        {# </div>
                    </div>
                </div>
            </div>
        </div>  #}
    </div>          
</div>
{% endblock %}
