{% extends 'base.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="example-wrapper container-xxl container-xxl col-sm-6  shadow p-3 mb-1 mt-3 rounded-0">
{% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    <h1 class="d-flex justify-content-center text-white mb-5" style="background: #5eabeb;"> {{ controller_name }}</h1>
    
    <div class=" mb-3" style="max-width: 1140px;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{ asset('asset/img/icone-portf-1.png') }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center text-white mb-5">Пакеты для участия в программе</h5>
            <p class="card-text">Ниже приведено описание пакетов, вы сможете подобрать для себя оптимальный пакет.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
    </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}   
    <a class="btn btn-success rounded-0 mb-3 mt-3" href="{{ path('app_table_pakage_new_admin') }}">Добавить новый пакет</a>
    {% endif %}
<h3>Актуальные пакеты</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Стоимость</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for table_pakage in table_pakages %}
            <tr>
                <td>{{ table_pakage.id }}</td>
                <td>{{ table_pakage.name }}</td>
                <td>{{ table_pakage.pricePakage }}</td>
                <td>
                    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}    #}
                    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_table_pakage_show', {'id': table_pakage.id}) }}">Посмотреть</a>
                    {# {% endif %} #}
                    {% if is_granted('ROLE_ADMIN') %}   
                    <a class="btn btn-warning rounded-0 mb-1" href="{{ path('app_table_pakage_edit_admin', {'id': table_pakage.id}) }}">Редактировать</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Пока еще нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
