{% if form_errors(form) %}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
{% endif %}
{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.name) }}<div id="emailHelp" class="form-text mb-5">Введите свое имя как в вашем национальном документе или водительском удостоверении, латинскими буквами.</div> 
    {{ form_row(form.surname) }}<div id="emailHelp" class="form-text mb-5">Введите Вашу фамилию как в вашем национальном документе или водительском удостоверении, латинскими буквами.</div>  
    {{ form_row(form.phone) }}<div id="emailHelp" class="form-text mb-5">Введите ваш номер телефона вместе с национальным префиксом(например +90, +7 и.т.п.)</div>  
    {{ form_row(form.state) }}<div id="emailHelp" class="form-text mb-5">Выберите Вашу страну.</div>  
    {{ form_row(form.region) }}<div id="emailHelp" class="form-text mb-5">Введите название вашего региона в соотвтетсвии с международным написанием на английском языке.</div>  
    {{ form_row(form.city) }}<div id="emailHelp" class="form-text mb-5">Введите название вашего города в соотвтетсвии с международным написанием на английском языке.</div>  
    {{ form_row(form.indexcity) }}<div id="emailHelp" class="form-text mb-5">Введите индекс вашего места жительства.</div>  
    {{ form_row(form.street) }}<div id="emailHelp" class="form-text mb-5">Введите название вашей улицы в соответсвии с международными требованиями написания на английском языке.</div>  
    {{ form_row(form.house) }}<div id="emailHelp" class="form-text mb-5">Введите номер вашего дома.</div>  
    {{ form_row(form.block) }}<div id="emailHelp" class="form-text mb-5">Введите номер или литерное оозначение вашего корпуса/блока если такой имеется.</div>  
    {{ form_row(form.apartment) }}<div id="emailHelp" class="form-text mb-5">Введите номер вашей квартиры.</div>  
    {% if new_user_make == true %} 
      <div class="alert rounded-0" role="alert" style="background: #5eabeb;">
        Условия участия в программе:
            <ul>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Спасибо за понимание! </li>
            </ul>
      </div>  
    {{ form_row(form.agreeTerms) }} 
    {% endif %}
      <div class="hidden">
      {{ form_row(form.user_id, {'value': user_id }) }}
      </div>
    <button type="submit" class="btn btn-warning rounded-0 mb-3 mt-1" onclick="return confirm('Вы действительно хотите поменять персональные данные?')">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}