{% extends 'base.html.twig' %}

{% block title %}New PersonalData{% endblock %}

{% block body %}
<div class="container-xxl col-sm-4 shadow p-3 mb-1 mt-3 bg-white rounded-0">
    <h2 class="d-flex justify-content-center text-white mb-5 mt-3" style="background: #5eabeb;">Страница регистрации персональных данных</h2>
    {% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success rounded-0" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}

    {{ include('personal_data/_form.html.twig') }}
    <a type="submit" class="btn btn-info rounded-0 mb-3 mt-1" href="{{ path('app_personal_area') }}">Назад</a>
</div>
{% endblock %}
