{% extends 'base.html.twig' %}

{% block title %}TokenRate index{% endblock %}

{% block body %}
<div class="container-xxl col-sm-6  shadow p-3 mb-1 mt-3 rounded-0">
    <h1 class="d-flex justify-content-center text-white mb-5" style="background: #5eabeb;">Курс токена Cometpoin</h1>
    <a  class="btn btn-info rounded-0 mb-3" href="{{ path('app_admin') }}">Перейти в кабинет Администратора</a>
{% for label, messages in app.flashes(['success', 'notice']) %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endfor %}
            {% for label, messages in app.flashes(['info', 'notice']) %}
                        {% for message in messages %}
                            <div class="alert alert-info" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
            {% endfor %}
            {% for label, messages in app.flashes(['danger', 'notice']) %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
            {% endfor %}
            {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
            {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Exchange_rate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for token_rate in token_rates %}
            <tr>
                <td>{{ token_rate.id }}</td>
                <td>{{ token_rate.exchangeRate }}</td>
                <td>
                    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_token_rate_show', {'id': token_rate.id}) }}">Открыть</a>
                    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_token_rate_edit', {'id': token_rate.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_token_rate_new') }}">Create new</a> #}
</div>
{% endblock %}
