{% block fast_consultation %}
<div id="hidden-content">
    {{ form_start(fast_consultation_form) }}
    {# <div class="form_box-inner">
        <div class="form_box-left"> #}
            {# {{ form_widget(fast_consultation_form) }} #}
            {{ form_row(fast_consultation_form.name) }}
            {{ form_row(fast_consultation_form.email) }}
            {{ form_row(fast_consultation_form.phone) }}
            {{ form_row(fast_consultation_form.question) }}
            <input class="btn text-light rounded-0 ml-1" style="background:  rgb(72, 109, 169);" type="submit" value="Отправить">
        {# </div>
    </div> #}
    {{ form_end(fast_consultation_form) }}
</div>
{% endblock %}