{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="pb-3 pt-3 mb-0" style="background: rgb(223, 230, 245);">    
    <div class="container-xxl bg-white col-sm-4  shadow p-3 mb-3 mt-3 rounded-0">
        <h1 class="d-flex justify-content-center mb-1 mt-0 pb-3 pt-2" style="color:  rgb(72, 109, 169);">{{ controller_name }}</h1>
    <a  class="btn btn-primary rounded-0 mb-3" href="{{ path('app_admin') }}">Перейти в кабинет Администратора</a>
{% for label, messages in app.flashes(['success', 'notice']) %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endfor %}
            {% for label, messages in app.flashes(['info', 'notice']) %}
                        {% for message in messages %}
                            <div class="alert alert-info" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
            {% endfor %}
            {% for label, messages in app.flashes(['danger', 'notice']) %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
            {% endfor %}
            {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
            {% endfor %}
    {{ include('setting_options/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a class="btn btn-primary rounded-0 mb-1" href="{{ path('app_setting_options_index') }}">Назад</a>

    {{ include('setting_options/_delete_form.html.twig') }}
  </div>
</div>
{% endblock %}
