{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ controller_name }}</h1>
<a href="{{ path('app_transaction_table_index_all_addwallet') }}">Все пополнения кошельков</a>
<a href="{{ path('app_transaction_table_index_withdrawal_to_wallet') }}">Все переводы из линии на  кошельки</a>
<a href="{{ path('app_transaction_table_index_withdrawal_out_wallet') }}">Все выводы из системы</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Место в линии</th>
                <th>Пользователь</th>
                <th>Пакет</th>
                {# <th>Cash</th>
                <th>Direct</th>
                <th>Withdrawal_to_wallet</th>
                <th>Withdrawal</th> #}
                <th>Дата</th>
                {# <th>Updated_at</th> #}
                {# <th>Application_withdrawal</th>
                <th>Application_withdrawal_status</th> #}
                <th>Операция связане с активацией места в линии (номер)</th>
                <th>Тип операции</th>
                {# <th>Pakage_price</th> #}
                <th>Кошелек</th>
                <th>Сумма</th>
                <th>Token</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction_table in transaction_tables %}
            <tr>
                <td>{{ transaction_table.id }}</td>
                {% if transaction_table.networkId == NULL %}
                <td>{{ transaction_table.networkId }} Операция не связана с местом в линии</td>
                {% else %}
                <td><a href="{{ path('app_transaction_table_index_network',{'network_id': transaction_table.networkId}) }}">{{ transaction_table.networkId }}</a></td>
                {% endif %}
                <td><a href="{{ path('app_transaction_table_index_user',{'user_id': transaction_table.userId}) }}">{{ transaction_table.userId }}</a></td>
                {% if transaction_table.pakageId == NULL %}
                <td>{{transaction_table.pakageId }} Операция не связана пакетом пользователя</td>
                {% else %}
                <td><a href="#">{{ transaction_table.pakageId }}</a></td>
                {% endif %}
                {# <td>{{ transaction_table.cash }}</td>
                <td>{{ transaction_table.direct }}</td>
                <td>{{ transaction_table.withdrawalToWallet }}</td>
                <td>{{ transaction_table.withdrawal }}</td> #}
                <td>{{ transaction_table.createdAt ? transaction_table.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ transaction_table.updatedAt ? transaction_table.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ transaction_table.applicationWithdrawal }}</td>
                <td>{{ transaction_table.applicationWithdrawalStatus }}</td> #}
                {% if transaction_table.networkActivationId == NULL %}
                <td>{{ transaction_table.networkActivationId }} Операция не связана с активацией пакета в линии</td>
                {% else %}
                <td><a href="#">{{ transaction_table.networkActivationId }}</a></td>
                {% endif %}
                <td><a href="#">{{ type[transaction_table.type] }}</a></td>
                {# <td>{{ transaction_table.pakagePrice }}</td> #}
                {% if transaction_table.walletId == NULL %}
                <td>{{ transaction_table.walletId }} В операции не задействован кошелек</td>
                {% else %}
                <td><a href="{{ path('app_transaction_table_index_network',{'network_id': transaction_table.walletId}) }}">{{ transaction_table.walletId }}</a></td>
                {% endif %}
                
                <td>{{ transaction_table.somme }}</td>
                <td>{{ transaction_table.token }}</td>
                <td>
                    <a href="{{ path('app_transaction_table_show', {'id': transaction_table.id}) }}">show</a>
                    {# <a href="{{ path('app_transaction_table_edit', {'id': transaction_table.id}) }}">edit</a> #}
                    {# <a href="{{ path('app_transaction_table_user', {'user_id': transaction_table.userId}) }}">по пользователю</a> #}
                    {# <a href="{{ path('app_transaction_table_index_all_addwallet') }}">Все пополнения кошельков</a> #}
                    {# <a href="{{ path('app_transaction_table_network', {'network_id': transaction_table.networkId}) }}">по месту в линии</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_transaction_table_new') }}">Create new</a> #}
{% endblock %}
