{% extends 'base.html.twig' %}

{% block title %}New Wallet{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Пополнение кошелька из заработка в сети</h1>
    {% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success rounded-0" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}
    <div class="card-body">
        <h5 class="card-title">Доступно для перевода из сети на кошелек</h5>
        <p class="card-text">{{ reward_wallet }} Cometpoin</p>
    </div>
    {{ include('wallet/_form_deposit_from_singlline.html.twig') }}

    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_wallet_index') }}">Назад</a>
</div>
{% endblock %}
