{% extends 'base.html.twig' %}

{% block title %}Wallet deposit usdt{% endblock %}

{% block body %}
<div class="container-xxl col-sm-4  shadow p-3 mb-1 mt-3 rounded-0">
    <h1 class="d-flex justify-content-center text-white mb-5" style="background: #5eabeb;">Конвертация Cometpoin</h1>
    {% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success rounded-0" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}
    {{ include('wallet/_form_exchange_comet.html.twig', {'button_label': 'Подтвердить'}) }}

    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_wallet_user') }}">Назад</a>

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('wallet/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}
