{% extends 'base.html.twig' %}

{% block title %}Wallet deposit usdt{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Конвертация Cometpoin</h1>
    {% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}
    {{ include('wallet/_form_exchange_comet.html.twig', {'button_label': 'Подтвердить'}) }}

    <a class="btn btn-secondary mb-3" href="{{ path('app_wallet_user') }}">Назад</a>

    {{ include('wallet/_delete_form.html.twig') }}
</div>
{% endblock %}
