{% extends 'base.html.twig' %}

{% block title %}Wallet index{% endblock %}

{% block body %}
<div class="container-xxl col-sm-8  shadow p-3 mb-1 mt-3 rounded-0">
    <h1 class="d-flex justify-content-center text-white mb-5" style="background: #5eabeb;">Админ все кошельки пользователей</h1>
{% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usdt</th>
                <th>Etherium</th>
                <th>Bitcoin</th>
                <th>Cometpoin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.Id }}</td>
                <td>{{ wallet.Usdt }}</td>
                <td>{{ wallet.etherium }}</td>
                <td>{{ wallet.bitcoin }}</td>
                <td>{{ wallet.cometpoin }}</td>
                <td>
                    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_wallet_show', {'id': wallet.id}) }}">Открыть</a>
                    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_wallet_edit', {'id': wallet.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_wallet_new') }}">Создать новый</a>
{% endblock %}
