{% extends 'base.html.twig' %}

{% block title %}Wallet index{% endblock %}

{% block body %}
    <h1>Wallet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usdt</th>
                <th>Etherium</th>
                <th>Bitcoin</th>
                <th>Cometpoin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.id }}</td>
                <td>{{ wallet.usdt }}</td>
                <td>{{ wallet.etherium }}</td>
                <td>{{ wallet.bitcoin }}</td>
                <td>{{ wallet.cometpoin }}</td>
                <td>
                    <a href="{{ path('app_wallet_show', {'id': wallet.id}) }}">show</a>
                    <a href="{{ path('app_wallet_edit', {'id': wallet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_wallet_new') }}">Create new</a>
{% endblock %}
