{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="pb-3 pt-3" style="background: rgb(223, 230, 245);">
  <div class="container-xxl col-sm-12 bg-white shadow p-3 mb-1 mt-3 rounded-0">
      <h1 class="d-flex justify-content-center mb-5 mt-0 pb-3 pt-3" style="color:  rgb(72, 109, 169);">{{ controller_name }}</h1>
      {% for label, messages in app.flashes(['success', 'notice']) %}
              {% for message in messages %}
                  <div class="alert alert-success rounded-0" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
      {% endfor %}
      {% for label, messages in app.flashes(['info', 'notice']) %}
                  {% for message in messages %}
                      <div class="alert alert-info rounded-0" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}
      {% endfor %}
      {% for label, messages in app.flashes(['danger', 'notice']) %}
                  {% for message in messages %}
                      <div class="alert alert-danger rounded-0" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}
      {% endfor %}
      {% for label, messages in app.flashes(['warning', 'notice']) %}
                  {% for message in messages %}
                      <div class="alert alert-danger rounded-0" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}            
      {% endfor %}
      {% if is_granted('ROLE_ADMIN') %}  
      <a  class="btn btn-primary rounded-0 mb-3" href="{{ path('app_admin') }}">Перейти в  кабинет админа</a> 
      {# <a class="btn btn-success mb-3" href="{{ path('app_referral_network_new') }}">Добавить</a>    #}
      {% else %}
      <a  class="btn btn-primary rounded-0 mb-3" href="{{ path('app_personal_area') }}">Перейти в личный кабинет</a> 
      {% endif %}
     


  <div class="col-sm-12 mb-1 bg-white">
          <div class=" text-secondary rounded-0">
              <div class="card-body d-flex justify-content-between">    
                  <span><h6 class="card-title fst-italic fw-bold text-secondary" style="font-size: 20px;">Моя команда - количество участников</h6></span>
                  <span><h6 class="card-title fst-italic fw-bold" style="color:  rgb(72, 109, 169); font-size: 25px;">{{ my_team_count }}</h6></span>    
              </div>
              <div class="card-body d-flex justify-content-between">    
                  <span><h6 class="card-title fst-italic fw-bold" style="font-size: 20px;">Моя команда - баланс</h6></span>
                  <span><h6 class="card-title fst-italic fw-bold" style="color:  rgb(72, 109, 169); font-size: 25px;">{{ my_team_summ }} USDT</h6></span>    
              </div>    
          </div>
  </div>
 {# {% for referral_network in referral_networks %}  
<div class="slider__item-container row" style="max-width: 100px;">
                  <div class="slider__item-content">
                    <div class="slider__content_header">
                      <img src="{{ asset('asset/img/icone-avatar-3.png') }}" class="card-img-top" alt="">
                        {# height="250" loading="lazy"> #}
                      {# <span class="slider__content_section" style="background: rgb(72, 109, 169);">Стоимость пакета {{ referral_network.pakage }} USDT</span>
                    </div>
                    <h2 class="slider__content_title text-white" style="background: rgb(72, 109, 169);">{{ referral_network.name }}</h2>
                    <div class="slider__content_footer" style="background: rgb(72, 109, 169);">
                      <div class="slider__content_avatar">
                        <img class="slider__content_photo" src="/examples/images/photo-2.jpg" alt="">
                      </div>
                      <span class="slider__content_author text-white">Место в линии</span>
                      <svg class="slider__content_icon text-white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
                        <path fill="currentColor"
                          d="M10 5C6.947 5 4.16 6.747 2.12 9.61a.726.726 0 0 0 0 .799C4.16 13.253 6.947 15 10 15s5.84-1.747 7.88-4.61a.726.726 0 0 0 0-.799C15.84 6.747 13.053 5 10 5zm.213 8.513c-2.023.13-3.71-1.617-3.585-3.755.106-1.747 1.473-3.178 3.141-3.29 2.024-.13 3.71 1.618 3.585 3.755-.106 1.766-1.455 3.178-3.141 3.29zm-.089-1.617c-1.1.074-1.988-.874-1.934-2.026.053-.948.78-1.71 1.686-1.766 1.1-.074 1.988.874 1.934 2.026-.053.93-.798 1.71-1.686 1.766z">
                        </path>
                      </svg>
                      <span class="slider__content_views text-white">{{ referral_network.userStatus }}</span>
                    </div>
                  </div>
                </div>
{% endfor %}  #}
{% if my_team_count <= 2 %}
 
<div class="justify-content-center row p-3 mb-1 bg-white mb-3 ">
{% for referral_network in referral_networks %}
    <div class="card col-sm2" style="width: 12rem;">
            <img src="{{ asset('asset/img/fon-default-avatar-1.png') }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Username {{ referral_network.name }}</h5>
                <p class="card-text fst-italic mb-1">Стоимость пакета {{ referral_network.pakage }} USDT</p> 
                <p class="card-text fst-italic mt-1 mb-1">Место в линии: {{ referral_network.userStatus }}</p> 
            </div>
    </div> 
{% endfor %}               
</div>

{% else %}
  <div class="container mb-3 pb-3">
      <div class="slider">
        <div class="slider__container">
          <div class="slider__wrapper">
            <div class="slider__items">
            {% for referral_network in referral_networks %}
              <div class="slider__item">
                <!-- Начало контента 1 слайда -->
                <div class="slider__item-container">
                  <div class="slider__item-content">
                    <div class="slider__content_header">
                      <img src="{{ asset('asset/img/icone-avatar-3.png') }}" class="card-img-top" alt="">
                        {# height="250" loading="lazy"> #}
                      <span class="slider__content_section" style="background: rgb(72, 109, 169);">Стоимость пакета {{ referral_network.pakage }} USDT</span>
                    </div>
                    <h2 class="slider__content_title text-white" style="background: rgb(72, 109, 169);">{{ referral_network.name }}</h2>
                    <div class="slider__content_footer" style="background: rgb(72, 109, 169);">
                      <div class="slider__content_avatar">
                        <img class="slider__content_photo" src="/examples/images/photo-2.jpg" alt="">
                      </div>
                      <span class="slider__content_author text-white">Место в линии</span>
                      <svg class="slider__content_icon text-white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
                        <path fill="currentColor"
                          d="M10 5C6.947 5 4.16 6.747 2.12 9.61a.726.726 0 0 0 0 .799C4.16 13.253 6.947 15 10 15s5.84-1.747 7.88-4.61a.726.726 0 0 0 0-.799C15.84 6.747 13.053 5 10 5zm.213 8.513c-2.023.13-3.71-1.617-3.585-3.755.106-1.747 1.473-3.178 3.141-3.29 2.024-.13 3.71 1.618 3.585 3.755-.106 1.766-1.455 3.178-3.141 3.29zm-.089-1.617c-1.1.074-1.988-.874-1.934-2.026.053-.948.78-1.71 1.686-1.766 1.1-.074 1.988.874 1.934 2.026-.053.93-.798 1.71-1.686 1.766z">
                        </path>
                      </svg>
                      <span class="slider__content_views text-white">{{ referral_network.userStatus }}</span>
                    </div>
                  </div>
                </div>
                <!-- Конец контента 1 слайда -->
              </div>
            {% endfor %}     
            </div>
          </div>
          <a href="#" class="slider__control" data-slide="prev"></a>
          <a href="#" class="slider__control" data-slide="next"></a>
          <ol class="slider__indicators">
          {% for i in range(1, my_team_count) %}
            <li data-slide-to="{{ i }}"></li>
            {# <li data-slide-to="1"></li>
            <li data-slide-to="2"></li>
            <li data-slide-to="3"></li>
            <li data-slide-to="4"></li>
            <li data-slide-to="5"></li>
            <li data-slide-to="6"></li> #}
          {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endif %}
</div>





<script>
    document.addEventListener('DOMContentLoaded', function () {
      const slider = new ChiefSlider('.slider', {
        loop: true,
        autoplay: true,
        interval: 5000,
        refresh: true,
      });
    });
  </script>
{% endblock %}
