{% extends 'base.html.twig' %}

{% block title %}ReferralNetwork{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Информация об участнике сети</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ referral_network.id }}</td>
            </tr>
            <tr>
                <th>Имя пользователя</th>
                <td>{{ referral_network.name }}</td>
            </tr>
            <tr>
                <th>id пользователя</th>
                <td>{{ referral_network.userId }}</td>
            </tr>
            <tr>
                <th>Статус пользователя</th>
                <td>{{ referral_network.userStatus }}</td>
            </tr>
            <tr>
                <th>id записи персональных данных</th>
                <td>{{ referral_network.personalDataId }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-secondary mb-3" href="{{ path('app_referral_network_index') }}">Назад</a>

    {# <a href="{{ path('app_referral_network_edit', {'id': referral_network.id}) }}">edit</a> #}

    {# {{ include('referral_network/_delete_form.html.twig') }} #}
</div>
{% endblock %}
