{% extends 'base.html.twig' %}

{% block title %}ReferralNetwork{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Информация об участнике сети</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ referral_network.id }}</td>
            </tr>
            <tr>
                <th>Имя пользователя</th>
                <td>{{ referral_network.name }}</td>
            </tr>
            <tr>
                <th>id пользователя</th>
                <td>{{ referral_network.userId }}</td>
            </tr>
            <tr>
                <th>Статус пользователя</th>
                <td>{{ referral_network.userStatus }}</td>
            </tr>
            <tr>
                <th>id записи персональных данных</th>
                <td>{{ referral_network.personalDataId }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row mb-3">
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Сеть с левой стороны</h5>
            <p class="card-text">Баланс сети слева {{ data.summ_left }} </p>
            <p class="btn btn-primary">Количество участников слева : {{ data.count_left }} USDT</p>
            {# <a href="#" class="btn btn-primary">Перейти куда-нибудь</a> #}
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Моё место в сети</h5>
            <p class="card-text">Мой баланс</p>
            <p class="btn btn-primary">{{ data.my_summ }} USDT</p>
            {# <a href="#" class="btn btn-primary">Перейти куда-нибудь</a> #}
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Сеть с правой стороны</h5>
            <p class="card-text">Баланс сети справа {{ data.summ_right }}</p>
            <p class="btn btn-primary">Количество участников справа : {{ data['count_right'] }} USDT</p>
            {# <a href="#" class="btn btn-primary">Перейти куда-нибудь</a> #}
        </div>
        </div>
    </div>
    </div>

    <a  class="btn btn-secondary mb-3" href="{{ path('app_referral_network_index') }}">Назад</a>

    {# <a href="{{ path('app_referral_network_edit', {'id': referral_network.id}) }}">edit</a> #}

    {# {{ include('referral_network/_delete_form.html.twig') }} #}
</div>
{% endblock %}
