{{ form_start(form) }}
    {{ form_row(form.name) }}<div id="emailHelp" class="form-text">если у вас нет реферальной ссылки или кода клиента, то пожалуйста не заполняйте это поле!</div> 
    {{ form_row(form.referral_link) }}<div id="emailHelp" class="form-text">если у вас нет реферальной ссылки или кода клиента, то пожалуйста не заполняйте это поле!</div> 
    {# <div class="hidden"> #}
      {{ form_row(form.unique_code, {'value': unique_code }) }}
      {# </div> #}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
