
{% if form_errors(form) %}
<div class="alert alert-danger" role="alert">
    {{ form_errors(form) }}
</div>
{% endif %}
{# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %} #}
  
{{ form_start(form) }}
<div class="form_box-inner">   
    <div class="form_box-left">
    {# {{ form_row(form.name) }}<div id="emailHelp" class="form-text mb-3">Выберите пакет</div>  #}
    {# {% if user_referral_link != NULL%} #}
    <div id="emailHelp" class="text mb-1 mt-1">Наименование пакета</div> 
    <select class="form-select mb-1" aria-label="Default select example" name="select">
      {% for chois in choise  %}
      <option value="{{ chois }}">{{ chois }}</option>
      {% endfor %}
    </select>
    <div id="emailHelp" class="form-text mb-3">Выберите пакет</div> 
    {# <div id="emailHelp" class="form-text mb-3 mt-0">Выберите пакет</div> #}
    {# <div class="hidden">  
    {{ form_row(form.referral_link, {'value': user_referral_link }) }}
    </div>
    {% else %}
    {{ form_row(form.referral_link) }}<div id="emailHelp" class="form-text mb-3">Введите реферальную ссылку.</div> 
    {% endif %} #}
    <div id="emailHelp" class="text mb-1 mt-1">Монета покупки</div> 
    <select class="form-select mb-1" aria-label="Default select example" name="select2">
      <option value="0" selected>USDT</option>
      <option value="1">CoMetaCoin</option>
      <option value="2">Bitcoin</option>
      <option value="3">Etherium</option>
    </select>
    <div id="emailHelp" class="form-text mb-3">Выберите валюту покупки.</div> 
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.price) }}
    {{ form_row(form.activation) }}
    {% else %}
    <div class="hidden">  
    {{ form_row(form.price) }}
    {{ form_row(form.activation) }}
    </div>
    {% endif %} 
    {# <div class="hidden">
      {{ form_row(form.unique_code, {'value': unique_code }) }}
    </div> #}
    <button class="btn btn-info rounded-0 mb-1">{{ button_label|default('Купить') }}</button>
    </div>
</div>
{{ form_end(form) }}

