{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-white mb-5 mt-3" style="background: #5eabeb;">{{ controller_name }}</h1>
    {% for label, messages in app.flashes(['success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-success rounded-0" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-info rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['danger', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-danger rounded-0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}            
    {% endfor %}
    <div class="col-sm-4 mb-3 mt-3">
            <div class="card text-secondary shadow p-3 mb-1 bg-light rounded-0">
                <div class="card-body d-flex justify-content-between">    
                    <span><h6 class="card-title">Количество пакетов в сети</h6></span>
                    <span><h6 class="card-title text-info">{{ count }}</h6></span>    
                </div>
                <div class="card-body d-flex justify-content-between">    
                    <span><h6 class="card-title">Общая стоимость всех приобретенных пакетов</h6></span>
                    <span><h6 class="card-title text-info">{{ pakage_summ_usdt }} USDT</h6></span>    
                </div>
            </div>
    </div>
    <a class="btn btn-success rounded-0 mb-3" href="{{ path('app_pakege_new') }}">Добавить новый пакет</a>
    <a class="btn btn-info rounded-0 mb-3" href="{{ path('app_admin') }}">Назад</a>
    <table class="table shadow p-3 mb-1 mt-3 rounded-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User_id</th>
                <th>Price</th>
                <th>Токен</th>
                <th>Реферальная ссылка</th>
                <th>Активация</th>
                <th>Referral_networks_id</th>
                <th>Уникальный код клиента</th>
                <th>Уникальный код пакета</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pakege in pakeges %}
            <tr>
                <td>{{ pakege.id }}</td>
                <td>{{ pakege.name }}</td>
                <td>{{ pakege.userId }}</td>
                <td>{{ pakege.price }}</td>
                <td>{{ pakege.token }}</td>
                <td>{{ pakege.referralLink }}</td>
                {% if pakege.activation == NULL %}
                <td>не активен</td>
                {% else %}
                <td>{{ pakege.activation }}</td>
                {% endif %}
                <td>{{ pakege.referralNetworksId }}</td>
                <td>{{ pakege.clientCode }}</td>
                <td>{{ pakege.uniqueCode }}</td>
                <td>
                    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_pakege_show', {'id': pakege.id}) }}">Посмотреть</a>
                    {# <a href="{{ path('app_pakege_edit', {'id': pakege.id}) }}">edit</a> #}
                    {% if pakege.activation == NULL %}
                    <a class="btn btn-warning rounded-0 mb-1" href="{{ path('app_list_referral_networks_new', {'id': pakege.id}) }}">Активировать</a>
                     {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
