{% extends 'base.html.twig' %}

{% block title %}Pakege{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Подробности пакета</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pakege.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ pakege.name }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ pakege.userId }}</td>
            </tr>
            <tr>
                <th>Стоимость USDT</th>
                <td>{{ pakege.price }}</td>
            </tr>
            <tr>
                <th>Идентификационный номер реферальной сети</th>
                <td>{{ pakege.referralNetworksId }}</td>
            </tr>
            <tr>
                <th>Уникальный код клиента</th>
                <td>{{ pakege.clientCode }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-secondary" href="{{ path('app_pakege_index') }}">Назад</a>
    {% if is_granted('ROLE_ADMIN') %}   
    <a  class="btn btn-warning" href="{{ path('app_pakege_edit', {'id': pakege.id}) }}">Редактировать</a>

    {{ include('pakege/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}
