{% if form_errors(form) %}
<div class="alert alert-danger" role="alert">
    {{ form_errors(form) }}
</div>
{% endif %}
{{ form_start(form) }}
<div class="form_box-inner">   
    <div class="form_box-left">
        {{ form_row(form.username) }}<div id="emailHelp" class="form-text mb-3">Пожалуйста введите новое имя длинной от 3 до 50 любых знаков</div>  
        {{ form_row(form.email) }}<div id="emailHelp" class="form-text mb-3">Это поле автоматически заполнилось текущей почтой, замените его на новое, или введите новую почту если поле не заполнено</div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Контрольный ввод новой электронной почты</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="new_email">
        <div id="emailHelp" class="form-text mb-3">Введите новую электронную почту</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Повтор новой электронной почты</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="confirm_email">
        <div id="emailHelp" class="form-text mb-3">Пожалуйста повторите новую электронную почту</div>
    </div>  
    {# {{ form_row(form.phone) }} 
    {{ form_row(form.state) }} 
    {{ form_row(form.region) }} 
    {{ form_row(form.city) }} 
    {{ form_row(form.indexcity) }} 
    {{ form_row(form.street) }} 
    {{ form_row(form.house) }} 
    {{ form_row(form.frame) }} 
    {{ form_row(form.apartment) }}  #}
    <button class="btn btn-warning rounded-0 mb-1">{{ button_label|default('Сохранить') }}</button>
    </div>
</div>
{{ form_end(form) }}
