{% extends 'base.html.twig' %}

{% block title %}Edit email{% endblock %}


{% block body %}
{% if form_errors(form) %}
<div class="alert alert-danger" role="alert">
    {{ form_errors(form) }}
</div>
{% endif %}
<div class="container-xxl col-sm-4  shadow p-3 mb-1 mt-3 rounded-0">
    <h1 class="d-flex justify-content-center text-white mb-5" style="background: #5eabeb;">Страница редактирования электронной почты</h1>
    {% for label, messages in app.flashes(['danger', 'notice']) %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
    <div class="form_box-inner">   
        <div class="form_box-left">    
            {{ form_row(form.email) }}<div id="emailHelp" class="form-text mb-3">Это поле автоматически заполнилось текущей почтой, замените его на новое, или введите новую почту если поле не заполнено</div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Контрольный ввод новой электронной почты</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="new_email">
            <div id="emailHelp" class="form-text">Введите новую электронную почту</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Повтор новой электронной почты</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="confirm_email">
            <div id="emailHelp" class="form-text">Пожалуйста повторите новую электронную почту еще раз</div>
        </div>  
        <button class="btn btn-warning rounded-0 mb-1">{{ button_label|default('Сохранить') }}</button>
        <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_user_show', {'id': app.user.id}) }}">Назад</a>
        </div>
        <div class="hidden">
        {# {{ form_row(form.username) }} #}
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}