{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Страница безопасности</h1>
    {% for label, messages in app.flashes(['success', 'notice']) %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['info', 'notice']) %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('asset/img/fon-default-avatar-1.png') }}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            {% if app.user.username %}
            <p class="card-text">{{ user.username }}</p>
            {% else %}
            <p class="card-text">У вас пока не создан -  username</p>
            {% endif %}
            <a href="{{ path('app_user_change_username', {'id': user.id}) }}" class="btn btn-primary">Изменить</a>
        </div>
    </div>
    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_user_change_email', {'id': user.id}) }}">Изменить email</a>
                </td>
            </tr>
                
            <tr>
                <th>Roles</th>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                <td>
                    {% for role in user_roles %}
                        {{ role }} , 
                    {% endfor %}
                </td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}    
                    <a class="btn btn-warning" href="{{ path('app_user_role_edit', {'id': user.id}) }}">Изменить роль пользователя</a>
                {% endif %}
                </td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td></td>
            </tr>
            {# <tr>
                <th>Personal_data_id</th>
                <td>{{ user.personalDataId }}</td>
            </tr> #}
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_personal_area') }}">Назад</a>
    <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Редактировать</a>
    <br><br>
    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
